@page "/home"

<PageTitle>Home</PageTitle>

<h1 class="hr-title">HR Management System</h1>

<h2 class="hr-paragraph">Select an action below</h2>

@if (worker != null)
{
    <h2 class="hr-paragraph">Welcome, {@worker.Name}.</h2>
}

<div class="button-container">
    <button class="btn btn-primary" @onclick="NavigateApply">Apply for a job</button>
    @if (IsWorkerManager())
    {
        <button class="btn btn-secondary" @onclick="NavigateView">View Pending Applications</button>
        <button class="btn btn-success" @onclick="NavigateCreate">Create New Worker</button>

    }
    <button class="btn btn-info" @onclick="NavigateRequest">Request Leave</button>
    <button class="btn btn-info" @onclick="NavigateRequest">View Worker Details</button>
</div>