@page "/apply"

<h3>Job Apply Page</h3>

<form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" @bind-value="@_name" /><br /><br />

    <label for="phone">Phone Number:</label><br>
    <input type="tel" id="phone" @bind-value="@_phoneNumber"/><br /><br />

    <label for="description">Description:</label><br>

    <textarea type="text" id="description" @bind="@_description" rows="15" cols="70"></textarea>

    <button @onclick="SubmitForm" type="button">Submit</button>
</form>
