@page "/apply"

<h3 class="header-text" style="text-align: center;">Job Apply Page</h3>

@if (_submitted == false)
{
    <form class="form-submit">
        <label class="label-input" for="name">Name:</label>
        <input class="input-box" type="text" id="name" @bind-value="@_name" />

        <label class="label-input" for="phone">Phone Number:</label>
        <input class="input-box" type="tel" id="phone" @bind-value="@_phoneNumber" />

        <label class="label-input" for="description">Description:</label>
        <textarea class="description-box" id="description" @bind="@_description" rows="5"></textarea>

        <button class="submit-button" @onclick="SubmitForm" type="button">Submit</button>
    </form>
}
else
{
    <h1 style="text-align: center; margin-top: 50px;">Application Submitted</h1>
    <p style="text-align: center; font-size: 20px;">Thank you for submitting your job application!</p>

    <div style="text-align: center; margin-top: 30px;">
        <button @onclick="ReturnToHome" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">
            Return to Home
        </button>
    </div>
}
