@page "/request"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using MultiManagementSystem.Components.Pages

<h3>Leave Request Form</h3>

@if (IsRequestSubmitted == false)
{
    <Microsoft.AspNetCore.Components.Forms.EditForm Model="this" OnValidSubmit="SubmitLeaveRequest">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label for="startDate">Start Date:</label>
            <InputDate @bind-Value="RequestLeaveStart" id="startDate" class="form-control" />
        </div>

        <div>
            <label for="endDate">End Date:</label>
            <InputDate @bind-Value="RequestLeaveEnd" id="endDate" class="form-control" />
            @if (RequestLeaveStart > RequestLeaveEnd)
            {
                <div class="text-danger">End date cannot be before start date.</div>
            }
        </div>

        <div>
            <label for="description">Reason for Leave:</label>
            <InputTextArea @bind-Value="RequestDescription" id="description" class="form-control" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary" disabled="@(RequestLeaveStart >= RequestLeaveEnd)">Submit</button>
        </div>
    </Microsoft.AspNetCore.Components.Forms.EditForm>
}
else
{
    <div class="alert alert-success mt-3">Leave request submitted successfully.</div>

    <button class="navigate-home-button" @onclick="@(_ => NavigationManager.NavigateTo("/home"))">Return</button>
}
