@namespace MultiManagementSystem.Components.Pages

@page "/application/{SelectedApplication.Id}"

<h3>Applicant Details</h3>

<div @onload="SetJobApplicationValues">
    <div>
        <label for="name">Name:</label>
        <input id="name" class="form-control" type="text" value="@DisplayApplicantName" readonly />
    </div>

    <div>
        <label for="phone">Phone Number:</label>
        <input id="phone" class="form-control" type="text" value="@DisplayApplicantPhoneNumber" readonly />
    </div>

    <div>
        <label for="text">Text:</label>
        <textarea id="text" class="form-control" readonly>@DisplayApplicantText</textarea>
    </div>
</div>
